:root {
  font-size: 1rem;

  --color-background: #ffffff;
  --color-border: #e1e1e1;
  --color-dark: #242424;
  --color-gray: #f2f2f2;
  --color-dark-gray: #a8a8a8;
  --color-light: #ffffff; 
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

&::before,
&::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth;
  color: var(--color-dark);
}
